<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>User page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet"
          crossorigin="anonymous"/>
</head>
<body>
<nav class="navbar navbar-dark bg-dark text-white">
    <div class="container-fluid">
        <a class="navbar-brand">
            <b><span class="align-middle" th:text="${currentuser.username}"></span></b>
            <span class="align-middle">with roles:</span>
            <th:block th:each="auth : ${currentuser.authorities}">
                <b><span class="align-middle" th:text="${auth.authority}"></span></b>
            </th:block>
        </a>
        <form class="d-flex" action="/logout" method="post">
            <button type="submit" class="btn btn-dark text-secondary">Logout</button>
        </form>
    </div>
</nav>
<div class="container-fluid">
    <div class="row row-cols-2 text-black">
        <div class="col-2 bg-white">
            <div class="nav flex-column nav-pills pt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link" href="/admin" sec:authorize="hasAuthority('ADMIN')" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">Admin</a>
                <a class="nav-link active" href="/user" sec:authorize="(hasAnyAuthority('ADMIN', 'USER'))" role="tab"
                   aria-controls="v-pills-profile" aria-selected="false">User</a>
            </div>
        </div>
        <div class="col-10">
            <div class="container-fluid">
                <h1>User information page</h1>
                <div class="card">
                    <div class="card-header">
                        <div class="m-1">
                            <h4>About user</h4>
                        </div>
                    </div>
                    <div class="card-body" bg-white>
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th scope="col" class="align-middle">Id</th>
                                <th scope="col" class="align-middle">First Name</th>
                                <th scope="col" class="align-middle">Last Name</th>
                                <th scope="col" class="align-middle">Age</th>
                                <th scope="col" class="align-middle">E-Mail</th>
                                <th scope="col" class="align-middle">Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:text="${user.id}"></td>
                                <td th:text="${user.firstName}"></td>
                                <td th:text="${user.lastName}"></td>
                                <td th:text="${user.age}"></td>
                                <td th:text="${user.email}"></td>
                                <td>
                                    <th:block th:each="role : ${user.roles}">
                                        <span class="align-middle" th:text="${role.authority}"></span>
                                    </th:block>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>